.bg_primary {
  background-color: var(--primary);
  color: #fff;
}
.bg_primary_05 {
  background-color: var(--primary-05);
}
.bg_primary_three_quarter {
  background-color: var(--primary-three-quarters);
  color: #fff;
}

.section_inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 64px 32px;
  box-sizing: border-box;
}
.section_inner h2 {
  text-align: center;
  margin: 0 0 48px;
}
.bg_primary_three_quarter h2 {
  color: #fff;
}

.flex_wrapper {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex_box_half {
  width: calc(50% - 16px);
  margin: 0 0 32px 32px;
  box-sizing: border-box;
}
.flex_box_half:nth-child(odd) {
  margin: 0 0 32px;
}
.flex_box_third {
  width: calc(33.3333% - 12px);
  margin: 0 0 16px 16px;
  box-sizing: border-box;
}
.flex_box_third:nth-child(3n + 1) {
  margin: 0 0 16px;
}

.box_white {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 117, 136, 0.38);
  border-radius: 6px;
  color: var(--primary);
  height: 100%;
  width: 100%;
}

.box_light {
  background-color: var(--primary-05);
  box-shadow: 0px 1px 3px rgba(0, 117, 136, 0.24);
  border-radius: 6px;
  color: var(--primary);
  height: 100%;
  width: 100%;
}

.box_white h3 {
  font-size: 2.4rem;
  margin: 0 0 16px 0;
}
.flex_box_third h3 {
  font-size: 2.2rem;
}

.box_white_txt {
  padding: 24px;
}

.img_box_A {
  position: relative;
  width: 100%;
  margin: 0;
}
.img_box_A::before {
  padding: 56.25% 0 0 0;
  display: block;
  content: ' ';
}
.img_box_B {
  position: relative;
  width: 100%;
  margin: 0;
}
.img_box_B::before {
  padding: 66.66666% 0 0 0;
  display: block;
  content: ' ';
}
.img_box_C {
  position: relative;
  width: 100%;
  margin: 0;
}
.img_box_C::before {
  padding: 42.96% 0 0 0;
  display: block;
  content: ' ';
}
.img_box_D {
  position: relative;
  width: 100%;
  margin: 0;
}
.img_box_D::before {
  padding: 100% 0 0 0;
  display: block;
  content: ' ';
}

.box_white .img_box_A {
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}

.subtitle {
  display: block;
  font-size: 1.6rem;
  margin: 16px 0 0;
}

@media screen and (max-width: 640px) {
  .section_inner {
    margin: 0 auto;
    padding: 48px 16px;
  }

  .flex_wrapper {
    display: block;
  }

  .flex_box_half {
    width: 100%;
    margin: 0 0 16px;
    box-sizing: border-box;
  }
  .flex_box_half:nth-child(odd) {
    margin: 0 0 16px;
  }
  .flex_box_third {
    width: 100%;
    margin: 0 0 16px;
    box-sizing: border-box;
  }
  .flex_box_third:nth-child(odd) {
    margin: 0 0 16px;
  }
}

/* About */

.about_lead {
  margin: 0 auto 48px;
  max-width: 540px;
  font-size: 1.6rem;
}

/* Service */

h3.service_title {
  background-color: var(--primary);
  padding: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}

h3.service_title span {
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 1.4rem;
  padding: 3px 5px;
  border-radius: 2px;
  color: var(--primary);
  margin: 0 16px 0 0;
  font-weight: bold;
}

h3.service_title span.paid {
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px #fff;
  color: #fff;
}

.box_white h3.service_title {
  border-radius: 6px 6px 0 0;
}
.logo_wrapper {
  margin: 32px 0 0 0;
  color: var(--dark);
}
.logo_box_wrapper {
  margin: 24px 0 0;
}
.logo_box_wrapper h4 {
  font-size: 1rem;
  margin: 0 0 8px 0;
}
.logo_box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo_box .img_box_C {
  width: 30%;
  max-width: 80px;
  margin: 0 12px 0 0;
}
.logo_box p {
  font-size: 1.2rem;
}

/* howto */

.howto h3 {
  margin: 0 0 32px;
  text-align: center;
  color: var(--primary);
  font-size: 2.4rem;
}
.howto .flex_wrapper {
  justify-content: center;
}
.howto_1 {
  margin: 0 0 48px;
}
.howto_1 .flex_wrapper {
  max-width: 720px;
  margin: 0 auto;
}
.howto_1 .flex_box_half {
  width: calc(50% - 8px);
  margin: 0 0 16px 16px;
}
.howto_1 .flex_box_half:nth-child(odd) {
  margin: 0 0 16px 0;
}

.howto .img_box_B {
  width: 200px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.howto h4 {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.howto h4 span {
  font-size: 2.8rem;
  margin: 0 16px 0 0;
}

@media screen and (max-width: 767px) {
  .howto_1 .flex_box_half,
  .flex_box_third {
    width: 100%;
    margin: 0 0 16px 0 !important;
  }

  .howto .box_light {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .howto .img_box_B {
    width: 120px;
    margin: 0 0 0 0;
    box-sizing: border-box;
  }
  .howto .box_white_txt {
    width: calc(100% - 120px);
    margin: 0;
    box-sizing: border-box;
    padding: 16px;
  }
  .howto h4 {
    justify-content: flex-start;
    font-size: 1.5rem;
  }
}
