p.small {
  font-size: 1.3rem;
}

.bg_primary {
  background-color: var(--primary);
  color: #fff;
}
.bg_primary_shade {
  background-color: var(--primary-shade);
  color: #fff;
}
.bg_primary_05 {
  background-color: var(--primary-05);
}
.bg_primary_three_quarter {
  background-color: var(--primary-three-quarters);
  color: #fff;
}

.section_inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 64px 32px;
  box-sizing: border-box;
}
.section_inner h2 {
  text-align: center;
  margin: 0 0 48px;
}
.bg_primary_three_quarter h2 {
  color: #fff;
}

.flex_wrapper {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex_box_half {
  width: calc(50% - 16px);
  margin: 0 0 32px 32px;
  box-sizing: border-box;
}
.flex_box_half:nth-child(odd) {
  margin: 0 0 32px;
}
.flex_box_third {
  width: calc(33.3333% - 12px);
  margin: 0 0 16px 16px;
  box-sizing: border-box;
}
.flex_box_third:nth-child(3n + 1) {
  margin: 0 0 16px;
}

.box_white {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 117, 136, 0.38);
  border-radius: 6px;
  color: var(--primary);
  height: 100%;
  width: 100%;
}

.box_light {
  background-color: var(--primary-05);
  box-shadow: 0px 1px 3px rgba(0, 117, 136, 0.24);
  border-radius: 6px;
  color: var(--primary);
  height: 100%;
  width: 100%;
}

.flex_box_third h3 {
  font-size: 2.2rem;
}

.box_white_txt {
  padding: 24px;
}

.box_border {
  border: solid 2px var(--primary);
  border-radius: 6px;
  padding: 24px;
  text-align: center;
  color: var(--primary);
}

.box_border a {
  margin: 16px 0 0 0;
}

.img_box_A {
  position: relative;
  width: 100%;
  margin: 0;
}
.img_box_A::before {
  padding: 56.25% 0 0 0;
  display: block;
  content: ' ';
}
.img_box_B {
  position: relative;
  width: 100%;
  margin: 0;
}
.img_box_B::before {
  padding: 66.66666% 0 0 0;
  display: block;
  content: ' ';
}
.img_box_C {
  position: relative;
  width: 100%;
  margin: 0;
}
.img_box_C::before {
  padding: 42.96% 0 0 0;
  display: block;
  content: ' ';
}
.img_box_D {
  position: relative;
  width: 100%;
  margin: 0;
}
.img_box_D::before {
  padding: 100% 0 0 0;
  display: block;
  content: ' ';
}

.box_white .img_box_A {
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}

.subtitle {
  display: block;
  font-size: 1.6rem;
  margin: 16px 0 0;
  font-weight: normal;
}

ul.vertical {
  display: block;
  max-width: 720px;
  margin: 0 auto;
}
ul.vertical li {
  margin: 0 0 32px 0;
}

.btn_wrapper {
  margin: 64px auto 0;
  text-align: center;
  color: var(--primary);
}
.btn_wrapper p {
  margin: 0 0 8px 0;
}

@media screen and (max-width: 640px) {
  .section_inner {
    margin: 0 auto;
    padding: 48px 16px;
  }

  .flex_wrapper {
    display: block;
  }

  .flex_box_half {
    width: 100%;
    margin: 0 0 16px;
    box-sizing: border-box;
  }
  .flex_box_half:nth-child(odd) {
    margin: 0 0 16px;
  }
  .flex_box_third {
    width: 100%;
    margin: 0 0 16px;
    box-sizing: border-box;
  }
  .flex_box_third:nth-child(odd) {
    margin: 0 0 16px;
  }

  ul.vertical li {
    margin: 0 0 16px 0;
  }

  .box_border p {
    text-align: left;
  }
}

/* About */

.about_lead {
  margin: 0 auto 48px;
  max-width: 540px;
  font-size: 1.6rem;
}

/* Service */

h3.service_title {
  background-color: var(--primary);
  padding: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}

h3.service_title span {
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 1.4rem;
  padding: 3px 5px;
  border-radius: 2px;
  color: var(--primary);
  margin: 0 16px 0 0;
  font-weight: bold;
}

h3.service_title span.paid {
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px #fff;
  color: #fff;
}

.box_white h3.service_title {
  border-radius: 6px 6px 0 0;
}
.logo_wrapper {
  margin: 32px 0 0 0;
  color: var(--dark);
}
.logo_box_wrapper {
  margin: 24px 0 0;
}
.logo_box_wrapper h4 {
  font-size: 1.2rem;
  margin: 0 0 8px 0;
}
.logo_box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo_box .img_box_C {
  width: 30%;
  max-width: 100px;
  margin: 0 12px 0 0;
}
.logo_box p {
  font-size: 1.2rem;
}

.headline_line {
  position: relative;
  width: 100%;
  z-index: 1;
}

.headline_line span {
  padding: 0 8px 0 0;
  background-color: #fff;
}

.headline_line::before {
  width: 100%;
  height: 1px;
  content: ' ';
  background-color: var(--light-shade);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .service_content .flex_box_half {
    width: 100%;
    margin: 0 0 32px;
  }
}

/* howto */

.howto h3 {
  margin: 0 0 32px;
  text-align: center;
  color: var(--primary);
}
.howto .flex_wrapper {
  justify-content: center;
}
.howto_1 {
  margin: 0 0 48px;
}
.howto_1 .flex_wrapper {
  max-width: 720px;
  margin: 0 auto;
}
.howto_1 .flex_box_half {
  width: calc(50% - 8px);
  margin: 0 0 16px 16px;
}
.howto_1 .flex_box_half:nth-child(odd) {
  margin: 0 0 16px 0;
}

.howto .img_box_B {
  width: 200px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.howto h4 {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.howto h4 span {
  font-size: 2.8rem;
  margin: 0 16px 0 0;
}

@media screen and (max-width: 767px) {
  .howto_1 .flex_box_half,
  .flex_box_third {
    width: 100%;
    margin: 0 0 16px 0 !important;
  }

  .howto .box_light {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .howto .img_box_B {
    width: 120px;
    margin: 0 0 0 0;
    box-sizing: border-box;
  }
  .howto .box_white_txt {
    width: calc(100% - 120px);
    margin: 0;
    box-sizing: border-box;
    padding: 16px;
  }
  .howto h4 {
    justify-content: flex-start;
    font-size: 1.5rem;
  }
}

/* booth */

.booth_flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.booth_img {
  width: 140px;
  border-radius: 6px 0 0 6px;
  overflow: hidden;
}

.booth_txt {
  width: calc(100% - 140px);
  padding: 16px;
  box-sizing: border-box;
}

@media screen and (max-width: 640px) {
  .booth_flex {
    align-items: flex-start;
  }

  .booth_img {
    width: 120px;
    border-radius: 0;
    padding: 8px;
    overflow: hidden;
  }

  .booth_txt {
    width: calc(100% - 120px);
    padding: 8px 16px 8px 8px;
    box-sizing: border-box;
  }

  .booth_txt p {
    font-size: 1.2rem;
  }
}

/* Operation */

.operation_logo {
  margin: 0 0 36px 0;
  height: 88px;
  display: flex;
  align-items: center;
}
.operation_service_logo {
  margin: 32px 0 16px;
  height: 56px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .operation_box {
    margin: 0 0 48px 0;
    padding: 0 0 48px;
    border-bottom: solid 1px var(--light-shade);
  }
  .operation_logo {
    margin: 0 0 36px 0;
    height: auto;
  }
}
/* contact section */

.contact_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_img {
  width: 30%;
}
.contact_txt {
  margin: 0 0 0 32px;
  text-align: center;
}

.contact_txt p {
  font-size: 1.8rem;
  margin: 32px 0;
}

.contact_logo {
  width: 400px;
  position: relative;
  margin: 0 auto;
}

.contact_logo::before {
  padding: 10.4%;
  display: block;
  content: ' ';
}

@media screen and (max-width: 640px) {
  .contact_flex {
    display: block;
  }

  .contact_img {
    width: 160px;
    margin: 0 auto;
  }

  .contact_txt {
    margin: 32px 0 0 0;
    text-align: center;
  }
  .contact_txt p {
    font-size: 1.6rem;
  }

  .contact_logo {
    width: 300px;
  }
}

/* contact */

.contactPageFlex {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  border-top: solid 1px var(--primary-20);
}

.contactPageFlexLeft {
  width: 50%;
  background-color: var(--primary-05);
  padding: 4vw 0 4vw 4vw;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  color: var(--primary);
}
.contactPageFlexRight {
  width: 50%;
  padding: 4vw 4vw 4vw 0;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.contactPageFlexInner {
  width: 100%;
  max-width: calc(540px - 4vw);
  box-sizing: content-box;
}

.contactPageFlexLeft .contactPageFlexInner {
  padding: 0 4vw 0 0;
}
.contactPageFlexRight .contactPageFlexInner {
  padding: 0 0 0 4vw;
}

.contactPageFlex .headline span {
  display: block;
  margin: 10px 0 0;
}

.contactPageFlexInner p {
  margin: 20px 0 0;
  font-size: 1.4rem;
}

.contactLogo {
  width: 260px;
  position: relative;
  margin: 0 auto 48px;
}
.contactLogo::before {
  padding: 78% 0 0 0;
  display: block;
  content: ' ';
}

.contactContent {
  position: relative;
}

.formContentBox {
  margin: 0 0 40px;
}
.formContentBoxFlex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 20px;
}

.formContentBoxFlex .formContentBox {
  width: calc(50% - 10px);
  margin: 0 0 0 20px;
}
.formContentBoxFlex .formContentBox:first-child {
  margin: 0;
}

.contactContent label {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0 0 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contactContent label span {
  display: inline-block;
  margin: 0 0 0 5px;
  font-size: 1.4rem;
}

.contactContent label span.required {
  color: var(--danger);
}

.errorText {
  margin: 5px 0 0 0 !important;
  font-size: 1.2rem !important;
  color: var(--error-500);
}

.downloadFlex {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.downloadFlexImg {
  width: 180px;
  height: 200px;
  position: relative;
  z-index: 1;
}
.downloadFlexImgBox {
  width: 126px;
  height: 180px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  box-shadow: 0px 4px 30px rgba(0, 35, 51, 0.2);
}
.downloadFlexImgBox:first-child {
  left: 0;
  top: 0;
  z-index: 3;
}

.downloadFlexRight {
  width: calc(100% - 200px);
  margin: 0 0 0 20px;
}

p.downloadTxt span {
  display: block;
  border-top: solid 1px #999;
  border-bottom: solid 1px #999;
  font-weight: bold;
  padding: 5px 0;
  margin: 5px 0;
}

.handbookContent {
  margin: 20px 0 0 0;
}

.handbookImage {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
}

.handbookTxt {
  margin: 0;
  padding: 0;
}

.handbookTxt strong {
  font-weight: bold;
}

.test {
  background-color: #000;
}

p.contact_warning {
  font-size: 1.2rem;
  text-align: right;
  margin: 0 0 32px 0;
}
p.contact_warning span {
  color: var(--danger);
}

/* thanks */

.thanksPage {
  width: 100%;
  min-height: 720px;
  position: relative;
  z-index: 1;
  color: var(--primary);
}

.thanksPageBg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
}

.thanksPageBgOverlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--bg-overlay);
  mix-blend-mode: multiply;
  z-index: 1;
}

.thanksContentImage {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: 400px;
  position: relative;
  margin: 0 auto 4vw;
}

.thanksContentBg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thanksContent {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  padding: 4vw 4vw;
}

.thanksContent h1 {
  font-size: 2.3rem;
  font-weight: bold;
  margin: 0 0 40px 0;
}

.thanksContent h1 span {
  display: block;
  font-size: 1.6rem;
  margin: 10px 0 0 0;
}

.thanksContentBtn {
  margin: 40px 0 0;
}

.thanksDownload {
  margin: 0 0 40px 0;
  border: solid 2px var(--secondary-500);
  border-radius: 6px;
  padding: 30px;
  box-sizing: border-box;
}
.thanksDownload h2 {
  font-size: 1.8rem;
  color: var(--secondary-500);
  margin: 0 0 20px 0;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .contactPageFlex {
    display: block;
  }

  .contactPageFlexLeft {
    width: 100%;
    padding: 40px 20px;
  }
  .contactPageFlexRight {
    width: 100%;
    padding: 20px 20px 80px;
  }

  .contactPageFlexInner {
    width: 100%;
    max-width: 640px;
    box-sizing: content-box;
    margin: 0 auto;
  }

  .contactPageFlexLeft .contactPageFlexInner {
    padding: 0;
  }
  .contactPageFlexRight .contactPageFlexInner {
    padding: 0 0 0 0;
  }

  .downloadFlex {
    display: block;
    margin: 30px 0;
  }

  .downloadFlexImg {
    margin: 0 auto;
  }

  .downloadFlexRight {
    width: 100%;
    margin: 0 0 0 0;
  }

  .handbookImage {
    width: 100%;
    height: 50vw;
  }

  .thanksPage {
    width: 100%;
    min-height: 150vw;
  }

  .thanksContent h1 {
    font-size: 1.6rem;
    margin: 0 0 20px 0;
    line-height: 1.4;
  }

  .thanksContent p {
    font-size: 1.4rem;
    text-align: left;
  }
}
