.footer {
  background-color: var(--primary-three-quarters);
  color: #fff;
}

.footer_inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 64px 32px;
  box-sizing: border-box;
}

.footer_flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.footer_logo {
  width: 180px;
}
.footer_content {
  margin: 0 0 0 48px;
}

ul.footer_nav {
  display: flex;
  margin: 16px 0;
  flex-wrap: wrap;
}
ul.footer_nav li {
  margin: 8px;
}
ul.footer_nav li a {
  padding: 8px;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 4px;
}
ul.footer_nav li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.footerCopyRight {
  font-size: 1.2rem;
  text-align: right;
  margin: 32px 0 0;
}

@media screen and (max-width: 767px) {
  .footer_flex {
    display: block;
  }
  .footer_logo {
    margin: 0 auto 48px;
  }
  .footer_content {
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  ul.footer_nav {
    display: block;
  }
  ul.footer_nav li {
    margin: 0 0 16px;
  }
  ul.footer_nav li a {
    padding: 0;
  }
}
