@import '_variables.scss';
@import './components/Meta';
@import 'index.scss';
@import 'reset.css';
@import 'highlight.js/styles/github.css';

:root {
  --primary: #00859b;
  --primary-rgb: 0, 133, 155;
  --primary-contrast: #ffffff;
  --primary-contrast-rgb: 255, 255, 255;
  --primary-shade: #007588;
  --primary-tint: #1a91a5;

  --secondary: #0186b3;
  --secondary-rgb: 1, 134, 179;
  --secondary-contrast: #ffffff;
  --secondary-contrast-rgb: 255, 255, 255;
  --secondary-shade: #01769e;
  --secondary-tint: #1a92bb;

  --tertiary: #09a4b3;
  --tertiary-rgb: 9, 164, 179;
  --tertiary-contrast: #ffffff;
  --tertiary-contrast-rgb: 255, 255, 255;
  --tertiary-shade: #08909e;
  --tertiary-tint: #22adbb;

  --success: #00c5e8;
  --success-rgb: 0, 197, 232;
  --success-contrast: #000000;
  --success-contrast-rgb: 0, 0, 0;
  --success-shade: #00adcc;
  --success-tint: #1acbea;

  --warning: #ffc409;
  --warning-rgb: 255, 196, 9;
  --warning-contrast: #000000;
  --warning-contrast-rgb: 0, 0, 0;
  --warning-shade: #e0ac08;
  --warning-tint: #ffca22;

  --danger: #eb445a;
  --danger-rgb: 235, 68, 90;
  --danger-contrast: #ffffff;
  --danger-contrast-rgb: 255, 255, 255;
  --danger-shade: #cf3c4f;
  --danger-tint: #ed576b;

  --medium: #92949c;
  --medium-rgb: 146, 148, 156;
  --medium-contrast: #000000;
  --medium-contrast-rgb: 0, 0, 0;
  --medium-shade: #808289;
  --medium-tint: #9d9fa6;

  --light: #f4f5f8;
  --light-rgb: 244, 245, 248;
  --light-contrast: #000000;
  --light-contrast-rgb: 0, 0, 0;
  --light-shade: #d7d8da;
  --light-tint: #f5f6f9;

  --dark: #383a3e;
  --dark-rgb: 56, 58, 62;
  --dark-contrast: #ffffff;
  --dark-contrast-rgb: 255, 255, 255;
  --dark-shade: #313337;
  --dark-tint: #4c4e51;

  --primary-quarter: rgba(0, 133, 155, 0.25);
  --primary-half: rgba(0, 133, 155, 0.5);
  --primary-three-quarters: rgba(0, 133, 155, 0.75);

  --primary-05: rgba(0, 133, 155, 0.05);
  --primary-10: rgba(0, 133, 155, 0.1);
  --primary-20: rgba(0, 133, 155, 0.2);
  --primary-30: rgba(0, 133, 155, 0.3);
  --primary-40: rgba(0, 133, 155, 0.4);
  --primary-50: rgba(0, 133, 155, 0.5);
  --primary-60: rgba(0, 133, 155, 0.6);
  --primary-70: rgba(0, 133, 155, 0.7);
  --primary-80: rgba(0, 133, 155, 0.8);
  --primary-90: rgba(0, 133, 155, 0.9);

  --font-w3: Hiragino UD Sans W3 JIS2004, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans;
  --font-w4: Hiragino UD Sans W4 JIS2004, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans;
  --font-w5: Hiragino UD Sans W4 JIS2004, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans;
  --font-w6: Hiragino UD Sans W5 JIS2004, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans;
}

a {
  color: var(--primary-500);
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Hiragino UD Sans W4 JIS2004, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
  font-feature-settings: 'pwid' 1;
  font-display: swap;
}

input,
select,
button,
textarea {
  &:focus {
    outline: none;
    cursor: pointer;
  }
}

p {
  line-height: 1.7;
  font-feature-settings: 'pwid' 1;
  font-size: 1.6rem;
}

section {
  overflow: hidden;
}

h1,
h2 {
  letter-spacing: 0.2rem;
}
h2 {
  font-size: 3.2rem;
  line-height: normal;
  color: var(--primary);
}

h3 {
  letter-spacing: 0.1rem;
  font-size: 2.4rem;
  line-height: normal;
  margin: 0 0 16px 0;
}

h4 {
  letter-spacing: 0.05rem;
  font-size: 2.5rem;
  line-height: normal;
}
h5 {
  letter-spacing: 0.05rem;
  font-size: 2rem;
  line-height: normal;
}

span {
  letter-spacing: 0.05rem;
}

input,
select,
option,
textarea {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
input,
textarea {
  outline: 0;
  background-color: var(--from-bg) !important;
  border: 0;
  width: 100%;
  box-sizing: border-box !important;
  padding: 8px 10px;
  line-height: 1.6;
  overflow: hidden;
  border-style: solid !important;
  display: block;
  position: relative !important;
  border-radius: 2px;
}

input:focus,
textarea:focus {
  outline: solid 1px var(--primary-500);
}

textarea {
  resize: vertical;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.slick-slide {
  opacity: 0.2;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: grab;
}

.slick-slide:hover {
  opacity: 0.4;
}

.slick-active {
  opacity: 1;
}
.slick-active:hover {
  opacity: 1;
}

.slick-prev,
.slick-next {
  opacity: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  padding: 8px;
  box-sizing: border-box;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  color: var(--primary-500);
  z-index: 9999;
  border-radius: 6px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: var(--primary-500);
  color: #fff;
  cursor: pointer;
}

.slick-slider:hover .slick-prev,
.slick-slider:hover .slick-next {
  opacity: 1;
}

.slick-next {
  right: 2vw;
}
.slick-prev {
  left: 2vw;
}

.slick-prev:before,
.slick-next:before {
  color: var(--primary-500);
}
.slick-prev:hover,
.slick-next:hover {
  color: #fff;
  background-color: var(--primary-600);
  box-shadow: 0px 4px 10px rgba(0, 35, 51, 0.2);
}

.slick-dots li button:before {
  color: var(--primary-500);
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: var(--primary-500);
}

@media screen and (max-width: 767px) {
  h1,
  h2 {
    letter-spacing: 0.07rem;
  }
}

.main {
  padding: 80px 0 0 0;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 50px 0 0 0;
  }

  h2 {
    font-size: 2.4rem;
    line-height: normal;
  }
  h3 {
    font-size: 1.8rem;
  }
}
